.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #d1d5db;
  display: block;
}

.sidebar ul li a:hover {
  background: #1f2937;
  border-radius: 6px;
}
