.navbar {
  height: 60px;
  background: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-links a {
  margin-left: 20px;
  color: #d1d5db;
  text-decoration: none;
}

.nav-links a:hover {
  color: white;
}
